extends ../layout

block head
  mixin requirejs("/assets/js/pages/account/device")

block css 
  link(rel='stylesheet', href='/assets/css/pages/account-devices.css')

block content
  section.header
      header
        include ../includes/nav/main
        
  section#main(role="main", class="main")
    div.content-module.middle(ng-controller="bpn.controllers.account.devices.Main")
      h1.page-heading Manage Device
      //- section(ng-view)
      section.separator-top

        if (userOwnedDevices.length > 0)
          ul.device-list
            each device in userOwnedDevices
              li
                
                div
                  span.label Name: 
                  span.value.device-name #{device.name}

                div
                  span.label MAC Address: 
                  span.value.device-mac-address #{device._id}


                div
                  span.label Device Key: 
                  span.value.device-mac-address #{device.combinedKey}

                - if (device.activeGrowPlanInstance)
                  div 
                    span.label Garden:
                    span.value 
                      a(href="/gardens/#{device.activeGrowPlanInstance._id}") #{device.activeGrowPlanInstance.name}
                - if (device.recentSensorLogs)
                  div
                    span.label Last log: 
                    span.value #{device.recentSensorLogs[0]}
                - if (device.lastConnectionAt)
                  div
                    span.label Last Connection: 
                    span.value #{device.lastConnectionAt}

                div
                  span.label Power Outlet Mapping: 
                  ul 
                    each outputMapping in device.outputMap
                      li
                        div 
                          span.label Outlet: 
                          span.value #{outputMapping.outputId}
                        div
                          span.label Accessory: 
                          - if (outputMapping.control)
                            span.value #{outputMapping.control.name}
                          - else
                            span.value Nothing mapped


                - if (typeof device.status.calibrationMode !== 'undefined')
                  div
                    span.label Calibration Mode: 
                    span.value Device is currently attempting to calibrate #{device.status.calibrationMode}
                    form(action="/account/devices/#{device._id}", method="POST")
                      input(type="hidden", name="clearCalibrationMode", value="true")
                      button(type="submit") Exit Calibrate Mode
                - else 
                  div
                    a(class="btn next-step-btn calibrate-device-item", href="/account/devices/#{device._id}/calibrate")
                      | Calibrate 
                
                div
                  a(class="btn next-step-btn", href="/account/devices/#{device._id}/outlet-map", target="_blank") 
                    | Map accessories to power outlets

                div
                  a(class="btn next-step-btn", href="#{appUrl}/setup", target="_blank") 
                    | Pair to a Wifi network


  a(href="/setup") Set up a new Bitponics Device