extends ../layout

block head
  base(href="/setup/device/")
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
  mixin requirejs("/assets/js/pages/account/outlet-map")

block css 
  link(rel='stylesheet', href='/assets/css/pages/account-devices.css')
  //- link(rel='stylesheet', href='/assets/css/libs/steps.css')

block content
  section.header
    header
      include /includes/nav/main
  
  section(ng-cloak="")#main(role="main", class="main")
    div.content-module.middle(ng-controller="bpn.controllers.account.outletMap.Main")
      h1.page-heading Manage Devices
      //- section(ng-view)
      section.separator-top
        if (userOwnedDevice)        
          h4.page-heading-small Power Outlet Mapping for #{userOwnedDevice.name}:
          
          ul 
            li(ng-repeat="outputMapping in sharedDataService.userOwnedDevice.outputMap")
                div(ng-click="setCurrentVisibleOutput($index, 'ControlOverlay');")
                  span.label Outlet {{outputMapping.outputId}}: 
                  span.value {{outputMapping.control.name}}

      div
        div(ng-controller="bpn.controllers.account.outputMapping.ControlOverlay", modal="sharedDataService.activeOverlay.is=='ControlOverlay'", close="close()", options="sharedDataService.modalOptions")
          div(ng-controller="bpn.controllers.SelectionOverlay")
            div(class="close btn", ng-click="close()")
              | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
            h3(class="page-heading page-heading-small") Choose a Control
            div(ng-controller="overlayCtrl")
              //- input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
              //- div(ng-hide="filteredItems.length") 
              //-   label(href="#", class="add btn", ng-click="addGrowSystem(this)")
              //-     | Add New Grow System
              //-     | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
              
              ul(class="grid")
                li(ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:name")
                  //- dl
                    //- dt Name
                    //- dd {{item.name}}

                  //- h4(style="background: red;border: 1px solid blue;") {{item._id}} = {{sharedDataService.userOwnedDevice.outputMap[sharedDataService.currentVisibleOutput].control._id}}

                  input(id="control_{{item._id}}", 
                    type='radio',
                    name="controlOverlaySelection", 
                    value="{{item._id}}", 
                    ng-model="sharedDataService.userOwnedDevice.outputMap[sharedDataService.currentVisibleOutput].control",
                    ng-change="log(sharedDataService.userOwnedDevice.outputMap[sharedDataService.currentVisibleOutput].control)"
                    ng-checked="item._id == sharedDataService.userOwnedDevice.outputMap[sharedDataService.currentVisibleOutput].control._id",
                    ng-click="toggleItemSelection(item, this)")
                  label(for="control_{{item._id}}", class="item btn next-step-btn") {{item.name}}

              ul.pagination
                  li(ng-class="{disabled: currentPage == 0}")
                    a(href, ng-click="prevPage()") « Prev
                  li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                    a(href, ng-click="setPage()", ng-bind="n + 1") 1
                  li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                    a(href, ng-click="nextPage()") Next »
  

block footer-scripts
  script
    bpn.controls = !{JSON.stringify(controls)};
    bpn.userOwnedDevice = !{JSON.stringify(userOwnedDevice)};