<h1>
<% if (notification.type === NOTIFICATION_TYPES.ACTION_NEEDED){ %>
<%= "Time for action." %>
<% } else if (notification.type === NOTIFICATION_TYPES.INFO) { %>
<%= "Your Bitponics device has it covered." %>
<% } %>
</h1>

<p>For your <%= notification.gpi.name %>, it's time for the following action:</p>
<p><%= notificationDetails.action.description %></p>

<% if (notificationDetails.handledByDeviceControl){ %>
	<p>Since your device has a <%= notificationDetails.action.control.name %> connected, it's taken care of this automatically.</p>
<% } else if (typeof notificationDetails.cycleStateIndex !== 'undefined') { %>
	<p>And the following step of that action: </p>
	<p><%= notificationDetails.action.cycle.states[notificationDetails.cycleStateIndex].message %></p>
<% } %>

<a class="btn" href="<%= secureAppUrl + '/gardens/' + notification.gpi._id.toString() %>">Visit your garden dashboard</a>