extends ../layout

block head
	mixin requirejs("/assets/js/pages/dashboard")

block css

block content
	section.header
		header
			include ../includes/nav/main

	section#main(role="main", class="main")
		- if (typeof(growPlan) != 'undefined')
			h2.page-heading #{growPlan.name}
			div.separator-top
				p Desc: #{growPlan.description}
				p Phases: #{growPlan.phases.length}
				p Plants: #{growPlan.plants.length}
		


		- else
			h2.page-heading 
			div.separator-top
				p Invalid grow plan id.
		

block footer-scripts
	script
		bpn.pageData.growPlan = !{JSON.stringify(growPlan)};