block vars
  - pageClassName = 'grow-plans gardens app-page'

extends ../layout

block head
  mixin requirejs("/assets/js/pages/grow-plans/index")

block css

block content
  section.header
    header
      include ../includes/nav/main

  section#main(role="main", class="main", ng-controller="bpn.controllers.growPlans.Main")
    h2.page-heading My Grow Plans
    div
      img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
      ul(ng-cloak, class="grow-plan-list grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos separator-top")
        li(ng-repeat="growPlan in userGrowPlans | orderBy:'-activeGardenCount'", class="grow-plan-list-item grid-cell", style="")
          div.img-wrapper(bpn-directives-grow-plan-photo-grid)
          div.first
            h3.label {{growPlan.name}}

          ul(class="plantlist")
            li(ng-show="!growPlan.plants.length")
              span.value.plant All Plants
            li(ng-repeat="plant in growPlan.plants track by $index | orderBy:name", class="grid-cell")
              span.value(class="plant", ng-repeat="plant2 in sharedDataService.plants | filter:{ _id: plant }") {{plant2.name}}&nbsp;
          p Created {{growPlan.createdAt | friendlyDate}}
          p Used by&nbsp;
            a(href="/grow-plans/{{growPlan._id}}/gardens") {{growPlan.activeGardenCount || 0}} gardens

      div(ng-hide="userGrowPlanList.data.length")
        a.btn.set-up-garden(href="/setup/grow-plan") Create your own grow plan

    h2.page-heading.clear-b Community Grow Plans
    div
      img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
      ul(ng-cloak, class="grow-plan-list grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos separator-top")
        li(ng-repeat="growPlan in communityGrowPlans | orderBy:'-activeGardenCount'", class="grow-plan-list-item grid-cell", style="")
          div.img-wrapper(bpn-directives-grow-plan-photo-grid)
          div.first
            h3.label {{growPlan.name}}

          ul(class="plantlist")
            li(ng-show="!growPlan.plants.length")
              span.value.plant All Plants
            li(ng-repeat="plant in growPlan.plants track by $index | orderBy:name", class="grid-cell")
              span.value(class="plant", ng-repeat="plant2 in sharedDataService.plants | filter:{ _id: plant }") {{plant2.name}}&nbsp;
          p Used by&nbsp;
            a(href="/grow-plans/{{growPlan._id}}/gardens") {{growPlan.activeGardenCount || 0}} gardens
          p Created by&nbsp;
              a(href="/profiles/{{growPlan.createdBy._id}}") {{growPlan.createdBy | communityMemberName}}
          a.btn(href="/grow-plans/{{growPlan._id}}") Details



block footer-scripts
  script
    bpn.user = !{JSON.stringify(user.toPublicJSON())};
    bpn.growSystems = !{JSON.stringify(growSystems)};
    bpn.actions = !{JSON.stringify(actions)};
    bpn.controls = !{JSON.stringify(controls)};
    bpn.sensors = !{JSON.stringify(sensors)};
    bpn.plants = !{JSON.stringify(plants)};
    bpn.lights = !{JSON.stringify(lights)};
    bpn.lightFixtures = !{JSON.stringify(lightFixtures)};
    bpn.lightBulbs = !{JSON.stringify(lightBulbs)};
    bpn.nutrients = !{JSON.stringify(nutrients)};
    bpn.growPlanDefault = !{JSON.stringify(growPlanDefault)};
