//mixins

mixin requirejs(datamain)
  script(src='/assets/js/libs/require.js', data-main=datamain)
  script
    require.config({
      paths: {
        'angular': '//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular',
        'angularResource' : '//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min',
        'angular-bootstrap' : '/assets/js/core/angular-bootstrap',
        'bpnApp' : '/assets/js/core/bpn',
        'controllers' : '/assets/js/core/controllers',
        'directives' : '/assets/js/core/directives',
        'services' : '/assets/js/core/services',
        'd3' : '/assets/js/libs/d3.v2',
        'domReady': '/assets/js/libs/requirejs/domReady',
        'jquery' : '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min',
        'view-models': '/assets/js/fe-be/view-models',
        'es5shim': '/assets/js/libs/es5-shim.min',
        'steps': '/assets/js/libs/Steps',
        'moment': '/assets/js/libs/moment.min',
        'utils': '/assets/js/shared/utils',
        'fe-be-utils': '/assets/js/fe-be/fe-be-utils',
        'scrollto': '/assets/js/libs/jquery/jquery.scrollTo.min',
        'localscroll': '/assets/js/libs/jquery/jquery.localScroll.min',
        'flexslider': '/assets/js/libs/flexslider/jquery.flexslider-min',
        'throttle-debounce': '/assets/js/libs/jquery/jquery.ba-throttle-debounce.min',
        'overlay': '/assets/js/shared/overlay'
      },
      shim: { 
        angular: { 
          deps: [ 'jquery' ], 
          exports: 'angular' 
        }, 
        angularResource: { 
          deps: [ 'angular' ] 
        },
        d3 : {
          exports : 'd3'
        },
        jquery: { 
          exports : '$'
        },
      }
    });

//TODO: work in progress, not used yet
mixin overlayTemplate(toggleVarName, itemsArray, headingText, itemText, classNames)
  div(ng-hide="!#{toggleVarName}", class="overlay #{classNames}")
    div(class="close btn", ng-click="toggleOverlay('#{toggleVarName}')")
      | <i class="icon-glyph-new icon-28_x" aria-hidden="true"></i>
    h3.page-heading Add a #{itemText}
    div(ng-controller="overlayCtrl")
      input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
      div(ng-hide="filteredItems.length") 
        label(href="#", class="add btn", ng-click="addPlant(this)")
          | Add New #{itemText}
          | <i class="icon-glyph-new icon-01_-" aria-hidden="true"></i>
      ul.pagination
        li(ng-class="{disabled: currentPage == 0}")
          a(href, ng-click="prevPage()") « Prev
        li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
          a(href, ng-click="setPage()", ng-bind="n + 1") 1
        li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
          a(href, ng-click="nextPage()") Next »

      ul(class="grid plantlist")
        //- li(ng-repeat="plant in filteredPlantList | orderBy:name")
        li(ng-repeat="plant in pagedItems[currentPage] | orderBy:sortingOrder:name")
          img(src="/assets/img/placeholders/placeholder_plant.jpg", alt="{{plant.name}}")
          dl
            dt Type:
            dd {{plant.name}}
          input(id="search_{{plant._id}}", type='checkbox', name="plants", value="{{plant._id}}", ng-model="selected.plant[plant._id]", ng-change="updateSelectedPlants()", checked="selected.plant[plant._id]")
          label(for="search_{{plant._id}}", class="plant btn next-step-btn") Select
            //- | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
      
      ul.pagination
        li(ng-class="{disabled: currentPage == 0}")
          a(href, ng-click="prevPage()") « Prev
        li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
          a(href, ng-click="setPage()", ng-bind="n + 1") 1
        li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
          a(href, ng-click="nextPage()") Next »