extends layout

block content
  if (everyauth.loggedIn && everyauth.user.admin)
    h2 Bitponics Admin
      #user-id 
        | Logged in with `user.id` #{user.id} - aka `everyauth.user.id` #{everyauth.user.id}
      - if (everyauth.facebook)
        h3 Facebook User Data
        p= JSON.stringify(everyauth.facebook.user)
      - if (everyauth.google)
        h3 Google User Data
        p= JSON.stringify(everyauth.google.user)
      - if (everyauth.password)
        h3 User Data
        p Email #{everyauth.user.email}
      h3
        a(href='/logout', style='text-decoration:underline;color:#333') Logout
  - else
    h2 Not admin