extends layout


block css


block content
  section#header
    header#logo(role="banner") 
      img(src="/img/leaf-new-green.png", width="15%")

    div#setup.select-block
      h2.main-heading Grow Plans
      h3.sub-heading
        select
          each item in activeGrowPlanInstances
            option= item.growPlan.name
    div#user.select-block
      h2.main-heading User
      h3.sub-heading
        if user.name.full != ''
         | #{user.name.full}
        else
         | #{user.email}
  section#main(role="main")
    div#sensors.content-module.side
      h2.main-heading Sensors
      - var sensorStyle = ''
      each item, key in sensors
        div(class="sensor data-module #{sensorStyle} #{key}")
            - sensorStyle = 'closed'
            h3.main-heading
              | #{item.abbrev}
            div.sensor-data
              div.sensor-value #{item.logs[0].value}
              div.sensor-value-unit
                span #{item.unit}
            div.sensor-type.icon.#{item.sCode}
            div.message Check
            div.settings.icon Settings

    div#visualizer.content-module.middle
      div#phases-graph.circle.centered
    
    div#controls.content-module.side
      h2.main-heading Controls
      each item in controls
        div(class="control #{item.className}") #{item.name}
      //-div.control Pump
      //-div.control Fan
      //-div.control Light
    div#reminders.content-module.side
      h2.main-heading Reminders
      //-div.data-module Hey!
      //-div.data-module Yo?
  
  section#footer
    div#date.content-module.side
      div.date.main-heading October 17, 2012
      div.time.sub-heading 3:23 PM
    div#notifications.content-module.side
      div.sub-heading.notification Notification #1
      div.sub-heading.notification Notification #2



block footer-scripts
  script
    Bitponics.user = {
      currentGrowPlanInstance : {
        /**
         *  Mashup of Sensor objects GPI's current Phase's IdealRanges.
         *  abbrev, unit of measurement, code, name, idealRange.
         *  Hash keyed by Sensor.code.
         */
        sensors : !{JSON.stringify(sensors)},
        controls : !{JSON.stringify(controls)},
        phases : !{JSON.stringify(currentGrowPlanInstancePhases)},
      }
    }
  script(src='/assets/js/libs/d3.v2.js')
  script(src='/assets/js/dashboard.js') 