extends layout

block content

  section#header
    header#logo(role="banner") 
      img(src="/img/leaf-new-green.png", width="15%")

    div#setup.select-block
      h2.main-heading #{title}
      //h3.sub-heading
    div#user.select-block
      h2.main-heading User
      h3.sub-heading
          if user.name.full != 'undefined undefined' && user.name.full != ''
           | #{user.name.full}
          else
           | #{user.email}

  section#main(role="main")
    div.content-module.middle
      
      //- if typeof(message) != 'undefined' && message.length
      //-   h3.main-heading
      //-     #{message}

      h4.sub-heading
        a(href="./newgrowplan", class="btn") Create a new grow plan
      
      h4.sub-heading Or choose from existing grow plans. 
      form(id="growplans", action="", method="post")
        ul
          each growPlan, i in growPlans
            li
              label(for="gp_#{i}", class="btn sub")
                h5 #{growPlan.name}
                input(id="gp_#{i}", type="checkbox", name="growplan", value="#{growPlan.id}")

              p #{growPlan.description}
        input(type="submit", class="btn clear", value="Save grow plans")


  section#footer
    