!!! 5
- var pageClassName = ''
block vars
html(class=className + " no-js " + pageClassName)
  head
    title= title
    meta(charset="UTF-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    include includes/head/head-content
    block head

  body(data-breakpoints, data-bpn-directives-pixels-to-ems="{{ems}}")
    div(class="page", data-role="page")
        div(class="page-wrapper", data-role="content")

            section.header
              header
                include includes/nav/main
                
            block content
            
            include includes/footer/main

            block footer-scripts
        
            - if (user && user._id)
              script(type="text/javascript")
                mixpanel.identify("#{user._id}");
                mixpanel.people.set({
                    "$email": "#{user.email}",    // only special properties need the $
                    "$first_name": "#{user.name.first}",
                    "$last_name": "#{user.name.last}",
                    "$created": new Date("#{user.createdAt}")
                 });

            script(type="text/javascript")
                mixpanel.track("page viewed", {'page name': document.title, 'url' : window.location.pathname });
