extends layout

block content

  section#header
    header#logo(role="banner") 
      img(src="/assets/img/leaf-new-green.png", width="15%")

    div#setup.select-block
      h2.main-heading #{title}
      //h3.sub-heading
    div#user.select-block
      h2.main-heading User
      h3.sub-heading
          if user.name.full != 'undefined undefined' && user.name.full != ''
           | #{user.name.full}
          else
           | #{user.email}

  section#main(role="main")
    div#profile.content-module.middle
      form(id="profile-form", method="POST", action="/profile")
        input(type="hidden", name="_method", value="PUT")
        label(for="email") Email
        input(id="email", name="email", type="email", value="#{user.email}")

        label(for="firstname") First Name
        input(id="firstname", name="firstname", type="text", value="#{user.name.first}")

        label(for="lastname") Last Name
        input(id="lastname", name="lastname", type="text", value="#{user.name.last}")

        label(for="locale_timezone", class="display-i") Locale
        //not working
        //button(id="detect", class="display-i") Detect
        include misc/timezone_select_html
        include misc/timezone_country_select_html

        div.overflow
          | <img id="timezone-image" src="/assets/img/timezone_map_gray-400.png" width="400" height="200" usemap="#timezone-map" />
          | <img class="timezone-pin" src="/assets/img/pin.png" /> 
          include misc/timezone_data_400x200

        label(for="phone") Phone
        input(id="phone", name="phone", type="text", value="#{user.phone}")

        //- label Address
        //- input(id="addressline1", name="addressline1", type="number")
        //- input(id="addressline2", name="addressline2", type="number")
        
        label Preferred Notification Methods 
        input(class="display-i", id="notifications_email", name="notifications_email", 
          type="checkbox", checked=user.notificationPreferences.email)
        label(class="display-i", for="notifications_email") Email
        input(class="display-i", id="notifications_sms", name="notifications_sms", 
          type="checkbox", checked=user.notificationPreferences.sms)
        label(class="display-i", for="notifications_sms") SMS

        input(type="submit", value="Save Profile")


block footer-scripts
  script
    Bitponics.user = !{JSON.stringify(user)}

  script(src='/assets/js/libs/jquery/jquery.maphilight.min.js')
  script(src='/assets/js/libs/jquery/jquery.timezone-picker.js')
  //script(src='/assets/js/libs/jquery/jquery.timezone-picker.min.js')
  script(src='/assets/js/profile.js')