extends ../layout

block head
  base(href="/setup/grow-plan/")
  
  mixin requirejs("/assets/js/pages/setup/grow-plan")

  script(type='text/ng-template', id='browse.html')

    //filter
    section(class="filterable", ng-cloak, ng-hide)

      h4(class="page-heading float-l") Select a Grow Plan to manage your garden
      div(class="btn float-l toggle filter", ng-click="toggleOption('filter')") Filter
      div(class="btn float-l toggle advanced", ng-click="toggleOption('advanced')") Advanced
      
      
      div(id="filter_questions", class="accordion clear-b ng-hide", ng-show="expandedOption == 'filter'")
        div.separator-top
        //- .question
        //-   h5.question-title Filter by grow system
          
        //-   select(ui-select2="sharedDataService.growSystemSelectOptions", ng-model="sharedDataService.selectedGrowSystem")
        //-     option(value="")
        //-     option(ng-repeat="growSystem in sharedDataService.growSystems", value="{{growSystem._id}}") {{growSystem.name}}

        
        .question.plants
          h5.question-title Filter by plants
          
          ul(class="plantlist float")
            li(ng-repeat="plant in sharedDataService.selectedPlants | orderBy:name", class="grid-cell")
              input(id="{{plant._id}}", type='checkbox', name="plants", ng-model="sharedDataService.selected.plants[plant._id]")
              label(for="{{plant._id}}", class="plant btn") 
                {{plant.name}}
                | <i class="icon-glyph-new icon-__73_x_white" aria-hidden="true" ng-click=""></i>

          label(class="add btn", ng-click="sharedDataService.activeOverlay.is = 'PlantOverlay'") 
            | Add
            | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
    
        .clear-b

      div(class="accordion clear-b ng-hide", ng-show="expandedOption == 'advanced'")
        div.separator-top
        //- .question
        //-   h5.question-title Filter by grow system
          
        //-   select(ui-select2="sharedDataService.growSystemSelectOptions", ng-model="sharedDataService.selectedGrowSystem")
        //-     option(value="")
        //-     option(ng-repeat="growSystem in sharedDataService.growSystems", value="{{growSystem._id}}") {{growSystem.name}}

        
        a.btn.no-margin-left(href="/grow-plans/new?setup=true&plants={{sharedDataService.selected.plants | keysToCSV}}") Create Grow Plan From Scratch
    
        .clear-b



    ul(ng-cloak, class="grow-plan-list grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos separator-top")
      //- each growPlan, i in growPlans
      li(ng-repeat="growPlan in filteredGrowPlanList | orderBy:'-activeGardenCount'", class="grow-plan-list-item grid-cell", style="")
        div.img-wrapper(bpn-directives-grow-plan-photo-grid)
        div.first
          //- h5.label Name
          h3.label {{growPlan.name}}
        
        ul(class="plantlist")
          li(ng-show="!growPlan.plants.length")
            span.value.plant All Plants
          li(ng-repeat="plant in growPlan.plants track by $index | orderBy:name", class="grid-cell")
            span.value(class="plant", ng-repeat="plant2 in sharedDataService.plants | filter:{ _id: plant }") {{plant2.name}}&nbsp;
        p Used by 
          a(href="/grow-plans/{{growPlan._id}}/gardens") {{growPlan.activeGardenCount || 0}} gardens
        p Created by 
          a(href="/profiles/{{growPlan.createdBy._id}}") {{growPlan.createdBy | communityMemberName}}
        //- div
        //-   h5.label Number of Phases
        //-   div.value {{growPlan.phases.length}}
        //- div
        //-   h5.label Overall Time Span
        //-   div.value {{growPlan.overallTimeSpan.expectedNumberOfDays || 'Open ended'}}
        //- div
        //-   h5.label In use by
        //-   div.value *TODO*
        //- div.last
        //-   h5.label Created by
        //-   div(class="value", ng-show="growPlan.createdBy[0].name.first") {{growPlan.createdBy[0].name.first}} {{growPlan.createdBy[0].name.last}}
        //-   div(class="value", ng-show="!growPlan.createdBy[0].name.first") Bitponics

        //- div.info
        //-   div(class="gplist_description") {{growPlan.description}}
        //-input(id="gplist_input_{{growPlan._id}}", type='radio', name="growplans", value="{{growPlan._id}}", ng-model="sharedDataService.selectedGrowPlan", ng-change="setSelectedGrowPlan()")
        //-label(for="gplist_input_{{growPlan._id}}", class="btn next-step-btn") Select
        //-  | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
        //- a.btn(href="customize/{{growPlan._id}}") Select
        a.btn(href="/grow-plans/{{growPlan._id}}?setup=true&plants={{sharedDataService.selected.plants | keysToCSV}}") Select
  

  script(type='text/ng-template', id='customize-overview.html')

    h4.page-heading Customize your grow plan
    div.separator-top
      div.question
        label(for="gpedit_name", class="question-title") Grow Plan Name
        input(id="gpedit_name", type='text', name="gpedit_name", ng-model="sharedDataService.selectedGrowPlan.name")
      

      div.question
        label(class="question-title", for="gpi_name") Your Garden Name
        input(type='text', id="gpi_name", name="gpi_name", ng-model="sharedDataService.growPlanInstance.name")
          

      div(class="question-wrap-right")
        div.question
          label.question-title Plants
          ul(class="plantlist float hide-unchecked-items")
            //textarea(id="gpedit_plants", type='text', name="gpedit_plants", value="#{growPlanDefault.plants}")
            li(ng-repeat="plant in sharedDataService.selectedGrowPlan.plants | orderBy:name")
              input(id="{{plant._id}}", 
                type='checkbox', 
                name="plants", 
                ng-model="sharedDataService.selected.plants[plant._id]", 
                ng-checked="sharedDataService.selected.plants[plant._id]")
              label(for="{{plant._id}}", class="plant btn") 
                {{plant.name}}
                | <i class="icon-glyph-new icon-__73_x_white" aria-hidden="true"></i>

          label(class="add btn", ng-click="sharedDataService.activeOverlay.is = 'PlantOverlay'") 
            | Add
            | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>

      div(class="question clear-l")
        label(for="gpedit_description", class="question-title") Description
        textarea(name="gpedit_description", ng-model="sharedDataService.selectedGrowPlan.description", rows="8")
    
    div(class="step-footer separator-top")
      a(class="btn next-step-btn", href="customize/{{sharedDataService.selectedGrowPlan._id}}/details") Next Step
        | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>

  
  script(type='text/ng-template', id='customize-details.html')
      h4.page-heading Your grow plan

      div.Phases
        div
          section.separator-top
            h5.question-title Total grow plan duration  
            //- input(type="number", name="phase_slider_duration", id="phase_slider_duration", class="no-disable", value="182", ng-model="expectedGrowPlanDuration", ng-change="updatePhaseDurations()") 
            h4(class="page-heading-large seamless-input-wrap")
              input(type="number", 
                    readonly,
                    name="expectedGrowPlanDuration", 
                    id="expectedGrowPlanDuration", 
                    class="seamless-input no-disable", 
                    value="expectedGrowPlanDuration",
                    ng-model="expectedGrowPlanDuration")
              span Days
              
            h5(class="starting-day question-title seamless-input-wrap page-heading-small") I am starting on day
              input(class="seamless-input-with-bg date-duration text-align-c no-disable", 
                    type="number", 
                    ng-model="sharedDataService.growPlanInstance.currentGrowPlanDay", 
                    min="0",
                    max="{{expectedGrowPlanDuration}}")
          
          //- div.phase-sliders
          section.separator-top
            h5.question-title Phases
            ul(class="phase-tabs")
              li(ng-repeat="phase in sharedDataService.selectedGrowPlan.phases", 
                  class="btn inverse-btn", 
                  ng-class="{selected: sharedDataService.selectedGrowPlan.currentVisiblePhase == phase}", 
                  ng-click="setCurrentVisiblePhase(phase)") {{ phase.name || 'New Phase' }}
                div(class="remove icon", ng-click="removePhase($index)")
                  | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true" ng-hide="sharedDataService.selectedGrowPlan.currentVisiblePhase == phase"></i>
                  | <i class="icon-glyph-new icon-__73_x_white" aria-hidden="true" ng-show="sharedDataService.selectedGrowPlan.currentVisiblePhase == phase"></i>
              li(class="btn inverse-btn", ng-click="addPhase()") Add New Phase
                div(class="add icon")
                  | <i class="icon-glyph-new icon-__64_plus_00e36c" aria-hidden="true"></i>

            div(class="phase-slider")
              h4(class="page-heading-large seamless-input-wrap")
                span {{ sharedDataService.selectedGrowPlan.currentVisiblePhase.name || 'New Phase' }} lasts for
                input(class="seamless-input-with-bg date-duration text-align-c no-disable", 
                      name="expectedNumberOfDays", 
                      value="1", 
                      type="number", 
                      ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.expectedNumberOfDays", 
                      ng-change="setExpectedGrowPlanDuration()",
                      min="1")
                span days
              //- div(class="phase-slider-slider")
              //-   input(type="range", name="phase_slider_{{$index}}", id="phase_slider_{{$index}}", class="phase-slider-input", value="0", min="0", max="{{expectedGrowPlanDuration}}", ng-model="phase.expectedNumberOfDays")

              section
                div.phaseName
                  label Phase Name
                  input(type="text", placeholder="Give this phase a name...", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.name")

                div.phaseDescription
                  label Phase Description
                  textarea(placeholder="Write a phase description...", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.description")

                div(class="phaseEndDescription")
                    label Phase End Description
                    textarea(placeholder="This phase is over when...", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.phaseEndDescription")

                ul(class="phase-tabs separator-top")
                  li(ng-repeat="phaseSection in growPlanPhaseSectionUITabs",
                      class="btn inverse-btn", 
                      ng-class="{selected: selected.selectedGrowPlanPhaseSection == $index}", 
                      ng-click="setCurrentPhaseSectionTab($index)") {{ phaseSection }}

                div(class="growSystem", ng-show="selected.selectedGrowPlanPhaseSection == 0")
                  //select(ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem._id", ng-options="growSystem._id as growSystem.name for growSystem in growSystems")
                  div.question
                    h4(class="page-heading-large separator-top") System
                    a(href, class="edit-btn", ng-click="sharedDataService.activeOverlay.is = 'GrowSystemOverlay'")
                      | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                      | Choose a different grow system
                    label Name
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.name", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.name")
                    label Description
                    textarea(ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.description", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.description")
                    label Type
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.type")
                    label Reservoir Size (gallons)
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.reservoirSize", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.reservoirSize")
                    label Plant Capacity
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.plantCapacity", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.plantCapacity")
                    h7 Size (feet)
                    input(type="text", placeholder="W", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.w", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.w")
                    input(type="text", placeholder="H", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.h", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.h")
                    input(type="text", placeholder="D", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.d", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem.overallSize.d")

                  div(class="growMedium question")
                    h4(class="page-heading-large separator-top") Grow Medium
                    input(type='text', ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.growMedium")

                  div(class="nutrients question")
                    h4(class="page-heading-large separator-top") Nutrients
                    a(href, class="edit-btn", ng-click="sharedDataService.activeOverlay.is = 'NutrientOverlay'")
                      | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                      | Add a nutrient
                    ul(class="grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3")
                      li(ng-repeat="nutrient in sharedDataService.selectedGrowPlan.currentVisiblePhase.nutrientsViewModel", class="grid-cell")
                        input(id="gpedit_{{sharedDataService.selectedGrowPlan.currentVisiblePhase._id}}_nutrients", type='checkbox', name="gpedit_{{sharedDataService.selectedGrowPlan.currentVisiblePhase._id}}_nutrients", value="{{nutrient._id}}", checked=true)
                        label(for="gpedit_{{sharedDataService.selectedGrowPlan.currentVisiblePhase._id}}_nutrients") {{nutrient.name}} - {{nutrient.brand}}
                
                div(class="light", ng-show="selected.selectedGrowPlanPhaseSection == 1")
                  //- h6 Light
                  div.question
                    h4(class="page-heading-large separator-top") Fixture
                    a(href, class="edit-btn", ng-click="sharedDataService.activeOverlay.is = 'FixtureOverlay'")
                      | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                      | Choose a different fixture
                    label Brand
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.brand", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.brand")
                    label Name
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.name", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.name")
                    label Type
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.type", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.type")
                    label Watts
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.watts", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.watts")
                    label # of bulbs per fixture
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.bulbCapacity", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture.bulbCapacity")
                    label # of fixtures
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixtureQuantity", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixtureQuantity")
                  div.question
                    h4(class="page-heading-large separator-top") Bulbs
                    a(href, class="edit-btn", ng-click="sharedDataService.activeOverlay.is = 'BulbOverlay'") 
                      | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                      | Choose a different bulb
                    label Brand
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.brand", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.brand")
                    label Name
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.name", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.name")
                    label Type
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.type", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.type")
                    label Watts
                    input(type="text", ng-model="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.watts", value="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb.watts")

                div(class="idealRanges", ng-show="selected.selectedGrowPlanPhaseSection == 2")
                  h4(class="page-heading-large separator-top") Ideal Sensor Ranges
                  p Here's where you describe the ideal values for your sensors throughout this phase. If your sensor readings get out of range,
                    | we'll send you an alert. You can also specify an accessory to trigger on or off, and even specify the time of day 
                    | that the ideal range should apply.
                  ul
                    li
                      label(class="add btn", ng-click="addIdealRange(sharedDataService.selectedGrowPlan.currentVisiblePhase);") 
                        | Add
                        | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>

                    li(class="question", ng-repeat="idealRange in sharedDataService.selectedGrowPlan.currentVisiblePhase.idealRanges")
                      div(class="close btn", ng-click="removeIdealRange($parent.$index, $index);")
                        | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>


                      //- div(class="sensor-type icon {{idealRange.sCode}}")
                      //-   | <i class="icon-glyph icon-{{idealRange.sCode}}" aria-hidden="true"></i>
                      //-   div.screen-reader-text {{idealRange.sCode}}
                      
                      div
                        //label {{sensors[idealRange.sCode].name}}
                        div.custom-dropdown-wrap
                          select(class="custom-dropdown", ng-model="idealRange.sCode", ng-options="sensor.code as sensor.name for (sensorKey,sensor) in sensors | orderBy:name")
                            option(value="") Select Sensor
                          div(class="dblarrow")
                            i
                      
                      div.separator-top
                        label Trigger the following accessory (optional):
                        div.custom-dropdown-wrap
                          select(class="custom-dropdown", ng-model="idealRange.actionBelowMin.control", ng-options="control._id as control.name for (controlKey,control) in controls")
                            option(value="") None
                          div(class="dblarrow")
                            i

                      div(class="hi separator-top")
                        label High
                        input(class="no-disable", type="number", ng-model="idealRange.valueRange.max")
                        span {{sensors[idealRange.sCode].unit}}
                        textarea(placeholder="Describe the triggered action.", ng-model="idealRange.actionBelowMin.description")
                        //- div(ng-show="idealRange.actionAboveMax.control") Turn {{controls[idealRange.actionAboveMax.control].name}} to {{idealRange.actionAboveMax.singleStateValue}}

                      div(class="lo separator-top")
                        label Low
                        input(class="no-disable", type="number", ng-model="idealRange.valueRange.min")
                        span {{sensors[idealRange.sCode].unit}}
                        textarea(placeholder="Describe the triggered action.", ng-model="idealRange.actionBelowMin.description")
                        //- div(ng-show="idealRange.actionBelowMin.control") Turn {{controls[idealRange.actionBelowMin.control].name}} to {{idealRange.actionBelowMin.singleStateValue}}


                      div.separator-top
                        label What time of day should the ideal range apply?
                        div(class="custom-checkbox-wrap")
                          input(id="action_control_time_{{$index}}", class="no-disable", type="checkbox", ng-model="idealRange.noApplicableTimeSpan", ng-click="toggleIdealRangeApplicableTimeSpan(this)")
                          label(for="action_control_time_{{$index}}", class="idealrange-option btn") All Day

                        div.idealRange-applicableTimePicker(ng-hide="idealRange.noApplicableTimeSpan")
                          // TODO: figure out how initialize values when idealRange.applicableTimeSpan is undefined (and leave them alone when it is defined)
                          label.idealRangeStartTime Start Time
                          div.custom-dropdown-wrap
                            select(class="custom-dropdown", ng-required="!idealRange.noApplicableTimeSpan", ng-model="idealRange.applicableTimeSpan.startTime", ng-options="time.ms as time.str for time in timesOfDayList")
                              option(value="") Select
                            div(class="dblarrow")
                              i

                          label.idealRangeEndTime End Time
                            div.custom-dropdown-wrap
                              select(class="custom-dropdown", ng-required="!idealRange.noApplicableTimeSpan", ng-model="idealRange.applicableTimeSpan.endTime", ng-options="time.ms as time.str for time in timesOfDayList")
                                option(value="") Select
                              div(class="dblarrow")
                                i


                div(class="actions", ng-show="selected.selectedGrowPlanPhaseSection == 3")
                  h4(class="page-heading-large separator-top") Actions
                  p Here's where you set schedules for actions to take throughout the phase. You can create on/off cycles for accessories or just schedule simple notifications
                    | for yourself. If you specify an accessory and have it connected to your Bitponics device, we'll simply trigger its cycles automatically. 
                    | If you don't have a specified accessory connected to your device, instead we'll send you an email notification whenever an action should take place.
                  
                  ul
                    li.add
                      label(class="add btn", ng-click="addAction(sharedDataService.selectedGrowPlan.currentVisiblePhase);") 
                        | Add
                        | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>

                    li(class="question", ng-repeat="action in sharedDataService.selectedGrowPlan.currentVisiblePhase.actionViewModels")
                      div(class="close btn", ng-click="removeAction($parent.$index, $index);")
                        | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>

                      div
                        label Description
                        textarea(placeholder="Describe the action.", ng-model="action.description")

                      div.separator-top
                        label Trigger the following accessory (optional):
                        div.custom-dropdown-wrap
                          select(class="custom-dropdown no-disable", ng-model="action.control", ng-options="control._id as control.name for (controlKey,control) in controls")
                            option(value="") None
                          div(class="dblarrow")
                            i

                      div.separator-top
                        label Is the action repeating?
                        div.custom-dropdown-wrap
                          select(class="custom-dropdown", ng-model="action.scheduleType")
                            option(value="") Select
                            option(value="phaseStart") Once at the start of the phase
                            option(value="phaseEnd") Once at the end of the phase
                            option(value="repeat") Repeat throughout the phase
                          div(class="dblarrow")
                            i

                      
                      div(ng-show="action.scheduleType != 'repeat'")


                      div(ng-show="action.scheduleType == 'repeat'")
                        

                        div(ng-show="action.control")
                          div(class="custom-checkbox-wrap separator-top")
                            input(id="action_control_{{$index}}", type="checkbox", ng-model="action.isDailyControlCycle")
                            label(for="action_control_{{$index}}", class="action-option btn") Daily                            

                          div(class="separator-top", ng-show="action.isDailyControlCycle")
                            label Turn {{action.control.name}} on at 
                            div.custom-dropdown-wrap
                              select(class="custom-dropdown", ng-model="action.dailyOnTime", ng-options="time.ms as time.str for time in timesOfDayList")
                                option(value="") Select
                              div(class="dblarrow")
                                i

                            label Turn {{action.control.name}} off at 
                            div.custom-dropdown-wrap
                              select(class="custom-dropdown", ng-model="action.dailyOffTime", ng-options="time.ms as time.str for time in timesOfDayList")
                                option(value="") Select
                              div(class="dblarrow")
                                i

                          div(class="separator-top", ng-show="!action.isDailyControlCycle")
                            div Repeating actions have alternating on/off states.
                            
                            div 
                              p First, turn {{action.control.name}}
                              div(class="custom-checkbox-wrap")
                                input(id="first_action_states_on_{{$index}}", type="radio", value="1", ng-model="action.cycle.states[0].controlValue")
                                label(for="first_action_states_on_{{$index}}", class="action-option btn") On

                              div(class="custom-checkbox-wrap")
                                input(id="first_action_states_off_{{$index}}", type="radio", value="0", ng-model="action.cycle.states[0].controlValue")
                                label(for="first_action_states_off_{{$index}}", class="action-option btn") Off

                              div 
                                p for
                                input(type="number", ng-model="action.cycle.states[0].duration", value="1")
                                div.custom-dropdown-wrap
                                  select(class="custom-dropdown", ng-model="action.cycle.states[0].durationType", ng-options="durationType for durationType in actionDurationTypeOptions", value="{{actionDurationTypeOptions[1]}}")
                                    option(value="") Select
                                  div(class="dblarrow")
                                    i
                              
                            div 
                              p Then turn {{action.control.name}}
                              div(class="custom-checkbox-wrap")
                                input(id="then_action_states_on_{{$index}}", type="radio", value="1", ng-model="action.cycle.states[1].controlValue")
                                label(for="then_action_states_on_{{$index}}", class="action-option btn") On

                              div(class="custom-checkbox-wrap")
                                input(id="then_action_states_off_{{$index}}", type="radio", value="0", ng-model="action.cycle.states[1].controlValue")
                                label(for="then_action_states_off_{{$index}}", class="action-option btn") Off

                              div 
                                p for 
                                input(type="number", ng-model="action.cycle.states[1].duration", value="1")
                                div.custom-dropdown-wrap
                                  select(class="custom-dropdown", ng-model="action.cycle.states[1].durationType", ng-options="durationType for durationType in actionDurationTypeOptions", value="{{actionDurationTypeOptions[1]}}")
                                    option(value="") Select
                                  div(class="dblarrow")
                                    i

                        div(ng-show="!action.control")
                          div.separator-top 
                            label Every:
                            input(type="number", ng-model="action.overallDuration", value="1")
                            div.custom-dropdown-wrap
                              select(class="custom-dropdown", ng-model="action.overallDurationType", ng-options="durationType for durationType in actionWithNoAccessoryDurationTypeOptions", value="{{actionDurationTypeOptions[0]}}")
                                option(value="") Select
                              div(class="dblarrow")
                                i

                          div(ng-show="action.overallDurationType == 'days'")
                            label At 
                            div.custom-dropdown-wrap
                              select(class="custom-dropdown", ng-model="action.offsetTimeOfDay", ng-options="time.ms as time.str for time in timesOfDayList")
                                option(value="") Select
                              div(class="dblarrow")
                                i

                          label.separator-top Send me the following message:
                            textarea(ng-model="action.message", placeholder="It's time to...")

                    //- end Action UI
                        
                div(class="device", ng-show="selected.selectedGrowPlanPhaseSection == 4 && userOwnedDevices.length > 0")
                  h4(class="page-heading-large separator-top") Device
                  p Here is where you can pair up your Bitponics device to your grow plan. Click a device name to select it. After you activate the grow plan, your device will start logging readings and automating any actions defined for your connected accessories.
                  ul(class="grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 devicelist")
                    li(ng-repeat="device in sharedDataService.userOwnedDevices", class="grid-cell")
                      input(type='radio', name="device", value="{{device._id}}", ng-model="sharedDataService.selected.deviceId")
                      label.btn(ng-click="toggleDevice(device)", ng-class="{on:sharedDataService.selected.deviceId == device._id, off: sharedDataService.selected.deviceId != device._id}")
                        | {{device.name}}
                        


      div(class="step-footer separator-top")
        input(id="growplans_activate", type="submit", value="Activate Grow Plan", ng-disabled="sharedDataService.submit.updateInProgress || sharedDataService.submit.success")
        img.spinner(src="/assets/img/spinner.svg", ng-show="sharedDataService.submit.updateInProgress && !sharedDataService.submit.success", ng-animate="{show: 'fade-in', hide:'fade-out'}")
        //- input(id="growplans_activate", type="submit", value="Activate Grow Plan", ng-click="sharedDataService.activeOverlay = 'ActivationOverlay';sharedDataService.submit();")



block css
  link(rel='stylesheet', href='/assets/css/libs/steps.css')

block content
  
  section.header
      header
        include ../includes/nav/main
  
  section#main(role="main", class="main", ng-cloak)
    div.content-module.middle
      form(id="growplans", name="growplans", class='steps', data-ajax="false", ng-submit="submit()", ng-controller="bpn.controllers.setup.growPlan.Main", novalidate)
        section.progress-bar()
          ol
            li.active 
              span.number 1.
              |  Select Grow Plan
            li.future 
              span.number 2.
              |  Customize Grow Plan
            li.future 
              span.number 3.
              |  Activate Garden

        section(ng-view)
        
        //- Overlay Templates

        div
          div(ng-controller="bpn.controllers.setup.growPlan.PlantOverlay", modal="sharedDataService.activeOverlay.is=='PlantOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading page-heading-small") Add a Plant
              div.add-a-plant-overlay
                input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
                div(ng-hide="filteredItems.length") 
                  label(href="#", class="add btn", ng-click="addPlant(this)")
                    | Add New Plant
                    | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                
                ul(class="grid grid--top grid--wrapping grid--gutters small-grid--full medium-grid--fit small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 plantlist")
                  li(ng-repeat="plant in pagedItems[currentPage] | orderBy:sortingOrder:name", class="grid-cell grid-cell--center")
                    div.img-wrapper
                      div.icon-glyph.icon-__62_logo_00e36c
                      img(ng-src="//s3.amazonaws.com/bitponics-cdn/assets/img/plants/{{plant._id}}.jpg", alt="{{plant.name}}")
                        
                    div.custom-checkbox-wrap
                      input(id="search_{{plant._id}}", 
                        type='checkbox', 
                        name="plants", 
                        value="{{plant._id}}", 
                        ng-model="sharedDataService.selected.plants[plant._id]"
                      )
                      label(for="search_{{plant._id}}", class="plant btn") {{plant.name}}
                
                ul.pagination
                  li(ng-class="{disabled: currentPage == 0}")
                    a(href, ng-click="prevPage()") « Prev
                  li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                    a(href, ng-click="setPage()", ng-bind="n + 1") 1
                  li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                    a(href, ng-click="nextPage()") Next »

        div
          div(ng-controller="bpn.controllers.setup.growPlan.FixtureOverlay", modal="sharedDataService.activeOverlay.is=='FixtureOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading page-heading-small") Choose a Fixture
              div(ng-controller="overlayCtrl")
                input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
                div(ng-hide="filteredItems.length") 
                  label(href="#", class="add btn", ng-click="addFixture(this)")
                    | Add New Fixture
                    | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>

                ul(class="grid grid--top grid--wrapping grid--gutters small-grid--full medium-grid--1of3 grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 plantlist")
                  li(ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:name", class="grid-cell")
                    div.img-wrapper
                      div.icon-glyph.icon-__62_logo_00e36c
                    dl
                      dt Brand:
                      dd.brand {{item.brand || '--'}}
                      dt Name:
                      dd.name {{item.name}}
                      dt Type:
                      dd.type {{item.type}}
                      dt Watts:
                      dd.watts {{item.watts}}
                      dt # of bulbs per fixture:
                      dd.bulbs {{item.bulbCapacity}}

                    input(id="fixture_{{item._id}}", 
                      type='radio',
                      name="lightFixtureOverlaySelection", 
                      value="{{item._id}}", 
                      ng-model="item",
                      ng-checked="item._id == sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture._id",
                      ng-click="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.fixture = item")
                    label(for="fixture_{{item._id}}", class="item btn next-step-btn") Select
                
                ul.pagination
                  li(ng-class="{disabled: currentPage == 0}")
                    a(href, ng-click="prevPage()") « Prev
                  li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                    a(href, ng-click="setPage()", ng-bind="n + 1") 1
                  li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                    a(href, ng-click="nextPage()") Next »


        div
          div(ng-controller="bpn.controllers.setup.growPlan.BulbOverlay", modal="sharedDataService.activeOverlay.is=='BulbOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading page-heading-small") Choose a Bulb
              div(ng-controller="overlayCtrl")
                input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
                div(ng-hide="filteredItems.length") 
                  label(href="#", class="add btn", ng-click="addBulb(this)")
                    | Add New Bulb
                    | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                
                ul(class="grid grid--top grid--wrapping grid--gutters small-grid--full medium-grid--1of3 grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 plantlist")
                  li(ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:name", class="grid-cell")
                    div.img-wrapper
                      div.icon-glyph.icon-__62_logo_00e36c
                    dl
                      dt Brand:
                      dd {{item.brand || '--'}}
                      dt Name:
                      dd {{item.name}}
                      dt Type:
                      dd {{item.type}}
                      dt Watts:
                      dd {{item.watts}}

                    input(id="bulb_{{item._id}}", 
                      type='radio', 
                      name="lightBulb", 
                      value="{{item._id}}", 
                      ng-model="item._id",
                      ng-checked="item._id == sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb._id",
                      ng-click="sharedDataService.selectedGrowPlan.currentVisiblePhase.light.bulb = item")
                    label(for="bulb_{{item._id}}", class="item btn next-step-btn") Select
                
                ul.pagination
                  li(ng-class="{disabled: currentPage == 0}")
                    a(href, ng-click="prevPage()") « Prev
                  li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                    a(href, ng-click="setPage()", ng-bind="n + 1") 1
                  li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                    a(href, ng-click="nextPage()") Next »


        div
          div(ng-controller="bpn.controllers.setup.growPlan.GrowSystemOverlay", modal="sharedDataService.activeOverlay.is=='GrowSystemOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading page-heading-small") Choose a Grow System
              div(ng-controller="overlayCtrl")
                input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
                div(ng-hide="filteredItems.length") 
                  label(href="#", class="add btn", ng-click="addGrowSystem(this)")
                    | Add New Grow System
                    | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                
                ul(class="grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 plantlist")
                  li(ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:name", class="grid-cell")
                    div.img-wrapper
                      div.icon-glyph.icon-__62_logo_00e36c
                    dl
                      dt Name:
                      dd {{item.name}}
                      dt Description:
                      dd.description {{item.description}}
                      dt Type:
                      dd {{item.type}}
                      dt Plant Capacity:
                      dd {{item.plantCapacity}}
                      dt Size:
                      dd
                        div(ng-show="item.overallSize.w && item.overallSize.h && item.overallSize.d") 
                          | {{item.overallSize.w}} wide x {{item.overallSize.h}} high x {{item.overallSize.d}} deep
                        div(ng-hide="item.overallSize.w && item.overallSize.h && item.overallSize.d") 
                          | -

                    input(id="growsystem_{{item._id}}", 
                      type='radio', 
                      name="growSystem", 
                      value="{{item._id}}", 
                      ng-model="item._id",
                      ng-checked="item._id == sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem._id",
                      ng-click="sharedDataService.selectedGrowPlan.currentVisiblePhase.growSystem = item")
                    label(for="growsystem_{{item._id}}", class="item btn next-step-btn") Select
                      //- | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
                
                ul.pagination
                  li(ng-class="{disabled: currentPage == 0}")
                    a(href, ng-click="prevPage()") « Prev
                  li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                    a(href, ng-click="setPage()", ng-bind="n + 1") 1
                  li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                    a(href, ng-click="nextPage()") Next »

      
        div
          div(ng-controller="bpn.controllers.setup.growPlan.NutrientOverlay", modal="sharedDataService.activeOverlay.is=='NutrientOverlay'", close="close()", options="sharedDataService.modalOptions")
              div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
                div(class="close btn", ng-click="close()")
                  | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
                h3(class="page-heading page-heading-small") Choose a Nutrient
                div(ng-controller="overlayCtrl")
                  input(class="search no-validate", ng-model="query", ng-change="search()", placeholder="Search...")
                  div(ng-hide="filteredItems.length") 
                    label(href="#", class="add btn", ng-click="addGrowSystem(this)")
                      | Add New Nutrient
                      | <i class="icon-glyph-new icon-__60_plus_white" aria-hidden="true"></i>
                  
                  ul(class="grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 plantlist")
                    li(ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:name", class="grid-cell")
                      div.img-wrapper
                        div.icon-glyph.icon-__62_logo_00e36c
                      dl
                        dt Brand:
                        dd {{item.brand}}
                        dt Name:
                        dd {{item.name}}

                      input(id="nutrient_{{item._id}}", 
                        type='checkbox', 
                        name="nutrientsOverlaySelections", 
                        value="{{item._id}}", 
                        ng-model="item.selected", 
                        ng-change="toggleItemSelection(item, this)", 
                        ng-checked="sharedDataService.selectedGrowPlan.currentVisiblePhase.nutrientsViewModel[item._id]")
                      label(for="nutrient_{{item._id}}", class="nutrient btn next-step-btn") Select
                  
                  ul.pagination
                    li(ng-class="{disabled: currentPage == 0}")
                      a(href, ng-click="prevPage()") « Prev
                    li(ng-repeat="n in range(pagedItems.length)", ng-class="{active: n == currentPage}")
                      a(href, ng-click="setPage()", ng-bind="n + 1") 1
                    li(ng-class="{disabled: currentPage == pagedItems.length - 1}")
                      a(href, ng-click="nextPage()") Next »
        div
          div(ng-controller="bpn.controllers.setup.growPlan.ActivationOverlay", modal="sharedDataService.activeOverlay.is=='ActivationOverlay'", close="close()", options="{ dialogClass: 'overlay dead-end auto-size', backdropFade: true, dialogFade: true }")
            div(class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              div(ng-show="!sharedDataService.submit.error")
                h3(class="page-heading page-heading-small") Garden Activated
                p 
                  | Your garden is all set up! Visit your garden's 
                  a(class="link", href="/gardens/{{sharedDataService.createdGrowPlanInstanceId}}") dashboard 
                  | to view your progress, monitor sensor readings and control any connected accessories.
              div(ng-show="sharedDataService.submit.error")
                h3(class="page-heading page-heading-small error") Garden Error
                p.error
                  | There was a technical problem and your garden was not set up.
        

        //- End Overlay Templates
        
        

block footer-scripts

  script
    bpn.user = !{JSON.stringify(user.toPublicJSON())};
    bpn.growPlans = !{JSON.stringify(growPlans)};
    bpn.growSystems = !{JSON.stringify(growSystems)};
    bpn.actions = !{JSON.stringify(actions)};
    bpn.controls = !{JSON.stringify(controls)};
    bpn.sensors = !{JSON.stringify(sensors)};
    bpn.plants = !{JSON.stringify(plants)};
    bpn.userOwnedDevices = !{JSON.stringify(userOwnedDevices)};
    bpn.lights = !{JSON.stringify(lights)};
    bpn.lightFixtures = !{JSON.stringify(lightFixtures)};
    bpn.lightBulbs = !{JSON.stringify(lightBulbs)};
    bpn.nutrients = !{JSON.stringify(nutrients)};
    bpn.growPlanDefault = !{JSON.stringify(growPlanDefault)};
