section#footer.footer(ng-cloak="")
  div 
    | bitponics &copy; 2013 
    a.footer-link(href="/about") About
    a.footer-link(href="/returns") Return Policy
    a.footer-link(href="/privacy") Privacy Policy

    

- if (user && user._id)
  script(id="IntercomSettingsScriptTag")
    window.intercomSettings = {
      app_id: "0c40a940658cd131a6d92882bf8fcc7230d93338"
      , widget: {
        activator: ".intercom-trigger"
      }
      , email:  "#{user.email}"
      , user_id : "#{user._id.toString()}"
      , user_hash: "#{intercomSecureModeHash(user._id)}"
      // dates need to be unix timestamps
      , created_at: #{parseInt(user.createdAt.getTime()/1000, 10)}
      // arbitrary additional user data can be sent. underscore word separators.
      // https://www.intercom.io/apps/0c40a940658cd131a6d92882bf8fcc7230d93338/install/code#onboarding_step_install
      , is_organization : #{user.isOrganization || false}
      , active : #{user.active || false }
      , locale_lang : "#{user.locale.lang }"
      , locale_territory : "#{user.locale.territory }"
    };

  script
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()

script(type="text/javascript")
  window.raiseIntercomDialog = function(message) {
    var $ = window.$;

    if (!$) {
      return;
    }

    $("#IntercomTab").click();
    if (!$('#IntercomNewMessageContainer').is(':visible')) {
      $('.new_message').click();
    }
    $('#newMessageBody').focus();
    if (message) {
      return $('#newMessageBody').text(message);
    }
  };


script#mixpanel-include(type="text/javascript")
  (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!== typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("#{mixpanelToken}");


if (settings.env == 'local' || settings.env == 'development')
  script(type="text/javascript")
    mixpanel.set_config({"test": 1});

//- TODO : conditionalize the google analytics script to only appear when on production
script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25720930-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();