<h1><%= device.name %> seems to have dropped its connection.</h1>


<p>We haven't heard from your device with the id <%= device._id.toString() %>
<% if (device.lastConnectionAt){ %>
 since 
<%=: device.lastConnectionAt | fromNow %>
<% } %>.</p>

<p>Click the link below to visit your device page and diagnose what's going on. And if you're still having issues, you can always reach us at <a href="<%= secureAppUrl + '/help' %>">our help page</a></p>

<a class="btn" href="<%= secureAppUrl + '/account/devices/' + notification.gpi._id.toString() %>">Manage your devices</a>