<h1><%= notificationDetails.device.name %> seems to have dropped its connection.</h1>

<p>We haven't heard from your device with the id <%= notificationDetails.device._id.toString() %><% if (notificationDetails.device.lastConnectionAt){ %> since <%=: notificationDetails.device.lastConnectionAt | friendlyDate %><% } %>.</p>

<p>Click the link below to visit your device page and diagnose what's going on. And if you're still having issues, you can always reach us at our <a href="<%= secureAppUrl + '/help' %>">help page</a>.</p>

<a class="btn" href="<%= secureAppUrl + '/account/devices/' + notificationDetails.device._id.toString() %>">Manage your devices</a>