extends ../layout

block head
  mixin requirejs("/assets/js/pages/dashboard")

block css
  link(rel="stylesheet", href="/assets/js/libs/flexslider/flexslider.css")

block content
  section.header
      header
        include ../includes/nav/main
        
  section#main(role="main", class="main split-layout")
    img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
    div(ng-cloak, ng-controller="bpn.controllers.dashboard.Main", data-bpn-directives-smart-overlay)
      header.separator-bottom 
        h2.page-heading {{sharedDataService.gardenModel.name}}
        //- div(class="garden-settings", ng-click="sharedDataService.activeOverlay = 'SettingsOverlay'")
        //-   | <i class="icon-glyph icon-glyph-new icon-19_settings" aria-hidden="true"></i>

      div
        div(modal="sharedDataService.activeOverlay=='SettingsOverlay'", close="close()", options="sharedDataService.modalOptions")
          div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")

            form(ng-controller="bpn.controllers.dashboard.SettingsOverlay")

              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading page-heading-small") Garden Settings
               
              h2(ng-show="sharedDataService.gardenModel.endDate") This garden was marked complete {{sharedDataService.gardenModel.endDate | friendlyDate:'lowercase'}}
              
              //- div(class="custom-checkbox-wrap")
              //-   input(id="{{sensorCode}}_settings_unit_toggle", 
              //-     type="checkbox",
              //-     name="{{sensorCode}}_settings_unit_toggle",
              //-     checked="isMetric")
              //-   label(ng-click="toggleMetric()", for="{{sensorCode}}_settings_unit_toggle", class="btn no-margin") Metric

              div(ng-hide="sharedDataService.gardenModel.endDate", class="content-module")
                label
                  | Name
                  input(
                    type="text", 
                    ng-show="sharedDataService.userCanModify",
                    ng-model="sharedDataService.gardenModel.name", 
                    ng-change="updateName()")
                  div.readonly(ng-hide="sharedDataService.userCanModify") {{sharedDataService.gardenModel.name}}

                div
                  span Currently in {{sharedDataService.gardenModel.activePhase.phase.name}} phase

                  button(
                    class="complete-garden btn no-margin-left",
                    ng-show="sharedDataService.userCanModify && sharedDataService.gardenModel.nextGrowPlanPhase",
                    ng-click="advancePhase()") Advance garden to the {{sharedDataService.gardenModel.nextGrowPlanPhase.name}} phase

                button(
                  class="complete-garden btn no-margin-left",
                  ng-show="sharedDataService.userCanModify && sharedDataService.gardenModel.active",
                  ng-click="completeGarden()") Mark garden as complete

                h4 Measurement Unit Preferences
                p Coming soon

                //- div(ng-repeat="sensor in sharedDataService.sensors", class="sensor-reading-group")
                //-   div(data-bpn-directives-manual-entry-form, 
                //-     data-sensor-unit="{{sensor.unit}}", 
                //-     data-sensor-code="{{sensor.code}}",
                //-     data-sensor-name="{{sensor.name}}",
                //-     class="manual-entry-form")
                    
                //-     div(ng-show="sharedDataService.userCanModify && hasMultipleUnits(sensorCode)", class="sensor-reading-value") {{sensorName}}
                //-     div(ng-show="sharedDataService.userCanModify && hasMultipleUnits(sensorCode)", class="sensor-reading-unit custom-dropdown-wrap")
                //-       select(
                //-         class="custom-dropdown", 
                //-         ng-model="sharedDataService.gardenModel.settings.units[sensorCode.toUpperCase()]", 
                //-         ng-options="obj.id as obj.abbrev for obj in sensorUnits[sensorCode.toUpperCase()].units",
                //-         ng-change="updateSettings()")
                //-       .dblarrow
                //-         i
                //-     div.readonly(ng-hide="sharedDataService.userCanModify") {{sensorName}} : {{ sharedDataService.gardenModel.settings.units[sensorCode.toUpperCase()] | lowercase }}

                

        div(modal="sharedDataService.activeOverlay=='AdvancePhaseOverlay'", close="close()", options="sharedDataService.modalOptions")
          div(ng-controller="bpn.controllers.dashboard.AdvancePhaseOverlay", class="overlay-contain")
            h3 Onward!
            p Keep in mind that time only moves forward. You won't be able to revert back once you advance to the next phase of your Grow Plan.
            button(
              class="btn warning"
              ng-click="close()") Stay on the {{sharedDataService.gardenModel.activePhase.phase.name}} phase
            button(
              class="btn"
              ng-click="advancePhase()") Advance to the {{sharedDataService.gardenModel.nextGrowPlanPhase.name}} phase

      div#sensors.sensors.content-module.side(ng-controller="bpn.controllers.dashboard.DayOverview")

        h2.page-heading-small.date 
          | {{sharedDataService.activeDate.date | date:'longDate'}}
          img.spinner(src="/assets/img/spinner.svg", ng-hide="sharedDataService.activeDate.loaded", ng-animate="{show: 'fade-in', hide:'fade-out'}")
          //-div.time.page-heading-small(ng-show="sharedDataService.activeDate.showTime") {{sharedDataService.activeDate.date | date:'mediumTime'}}
          
        div.data-module.phase-info
          div.phase-name {{sharedDataService.activeDate.growPlanPhase.name}} Phase
          div.phase-day Day {{sharedDataService.activeDate.dayOfPhase}}
        div(ng-repeat="sensor in sharedDataService.sensors", ng-class="getSensorBlockClassNames(sensor, sharedDataService.activeDate.latestSensorLogs)", ng-click="sharedDataService.activeOverlay = 'SensorOverlay'+sensor.abbrev")
          h3.main-heading
            | {{sensor.abbrev}}
          div.sensor-data
            div.sensor-value {{sharedDataService.activeDate.latestSensorLogs[sensor.code].val | sensorValueDisplay}}
          div(class="sensor-type icon {{sensor.code}}")
            | <i class="icon-glyph icon-glyph-new icon-{{sensor.code}}" aria-hidden="true"></i>
            div.sensor.screen-reader-text {{sensor.code}}
          //- div.message #{warning ? 'Check' : 'OK'}
          //- div(class="settings icon")
          //-   | <i class="icon-glyph icon-glyphbitponics_settings_icon" aria-hidden="true"></i>
          //-   div.screen-reader-text Settings

          div
            div(modal="sharedDataService.activeOverlay=='SensorOverlay'+sensor.abbrev", close="close()", options="sharedDataService.modalOptions")
              div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
                div(class="close btn", ng-click="close()")
                  | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
                h3(class="page-heading page-heading-small") {{sensor.name}}
                div(ng-controller="bpn.controllers.dashboard.SensorDetailOverlay")
                  div(class="overlay-data clearfix")
                    div.left
                      h4 Last Reading ({{sensor.unit}})
                      div.separator-top(ng-show="{{sharedDataService.activeDate.latestSensorLogs[sensor.code].val}}") {{sharedDataService.activeDate.latestSensorLogs[sensor.code].val}}
                      div.separator-top(ng-hide="{{sharedDataService.activeDate.latestSensorLogs[sensor.code].val}}") ----
                      h5.reading-time {{sharedDataService.activeDate.latestSensorLogs[sensor.code].timestamp | date:'short' }}
                    div.right(ng-show="idealRanges[sensor.code]")
                      h4 Ideal Range ({{sensor.unit}})
                      div.separator-top() {{idealRanges[sensor.code].valueRange.min}} - {{idealRanges[sensor.code].valueRange.max}}

                  a(ng-href="/gardens/{{sharedDataService.gardenModel._id}}/graphs")
                    div(data-bpn-directives-sensor-sparkline-graph, data-sensor-code="sensor.code", data-sensor-logs="sharedDataService.activeDate.sensorLogs")
                  
                  div(ng-show="sharedDataService.userCanModify && (sensor.code == 'ph' || sensor.code == 'ec')")
                    a(class="btn flush-left", ng-href="/account/devices/{{sharedDataService.gardenModel.device._id}}/calibrate") Calibrate
                  
                  div(
                    ng-show="sharedDataService.userCanModify",
                    data-bpn-directives-manual-entry-form,
                    data-sensor-unit="{{sensor.unit}}", 
                    data-sensor-code="{{sensor.code}}", 
                    data-sensor-logs="{{sharedDataService.activeDate.sensorLogs}}",
                    class="manual-entry-form")
                    
                    div(class="custom-checkbox-wrap")
                      input(id="{{sensorCode}}_manual_entry_toggle", 
                        type="checkbox",
                        name="{{sensorCode}}_manual_entry_toggle")
                      label(ng-show="sharedDataService.gardenModel.device", ng-click="toggleManualEntry()", for="{{sensorCode}}_manual_entry_toggle", class="btn no-margin") Manual Log
                    
                    div(ng-show="!sharedDataService.gardenModel.device || manualSensorEntryMode && sharedDataService.gardenModel.device")
                      form(name="form", action="", ng-submit="submit()")
                        input(ng-model="manualSensorEntry[sensorCode]", id="manual_input_sensor_overlay_{{sensorCode}}", size="5", class="sensor-reading-value display-ib half-width", type="number", step="any",required)
                        div(ng-hide="hasMultipleUnits(sensorCode)", class="sensor-reading-unit")
                          span.sensor-unit {{sensorUnit}}
                        div(ng-show="hasMultipleUnits(sensorCode)", class="sensor-reading-unit custom-dropdown-wrap")
                          select(class="custom-dropdown no-margin", 
                            ng-model="sharedDataService.gardenModel.settings.units[sensorCode.toUpperCase()]", 
                            ng-options="obj.id as obj.abbrev for obj in sensorUnits[sensorCode.toUpperCase()].units")
                          .dblarrow
                            i
                        input(type="submit", value="Record", ng-click="log(this)")

        div
          div(modal="sharedDataService.activeOverlay=='DaySummaryOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(ng-controller="bpn.controllers.dashboard.DaySummaryOverlay", class="overlay-contain day-summary")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              h3(class="page-heading") Day {{dayIndex}} of {{phase.phase.name}} Phase
              h4(class="sensor-reading-date page-heading-small") {{dataCache.date | date:'longDate'}}
              
              div(ng-show="dataCache.sensorLogs")
                ul(class="btn-list menu")
                  li(ng-repeat="sensor in sharedDataService.sensors", class="float-l")
                    button(type="button", class="btn", ng-class="{on: sensor.code==activeSensor.obj.code}", ng-click="activeSensor.obj=sensor") {{sensor.name}}

                div(class="graph clear-b")
                  div(ng-show="activeSensor.obj.code==sensor.code", ng-repeat="sensor in sharedDataService.sensors")
                    div(data-bpn-directives-sensor-sparkline-graph, data-sensor-code="sensor.code", data-sensor-logs="dataCache.sensorLogs")

              div(ng-hide="dataCache.sensorLogs")
                p No logs yet for this date.

              div(class="full-width", ng-show="dataCache.photos", ng-controller="bpn.controllers.dashboard.Photos")
                ul(class="grid photos") 
                  li(class="photo display-ib", ng-repeat="photo in dataCache.photos | orderBy:predicate:date")
                    img(ng-src="{{photo.thumbnailUrl}}", bpn-directives-if-thumbnail-404="{{photo.url}}")
          

      div.content-module.middle
        div(ng-controller="bpn.controllers.dashboard.PhasesGraph")
          div(data-bpn-directives-phases-graph)

        div(class="full-width text-align-c", ng-controller="bpn.controllers.dashboard.Photos")
          //- ordered from new to old
          
          ul(class="grid photos") 
            li.photo(ng-repeat="photo in sharedDataService.photos | orderBy:predicate:date", ng-click="open(photo._id, $index)")
              img(ng-src="{{photo.thumbnailUrl}}", bpn-directives-if-thumbnail-404="{{photo.url}}")
          
            li.photo(ng-show="sharedDataService.userCanModify")
              //- img.spinner(src="/assets/img/spinner.svg", ng-show="uploadInProgress", ng-animate="{show: 'fade-in', hide:'fade-out'}")
              bpn-directives-file-upload(
                upload-url="'/api/gardens/' + sharedDataService.gardenModel._id + '/photos'",
                shared-data-service="sharedDataService"
              )
              //- lvl-file-upload(
                ng-hide="uploadInProgress",
                auto-upload='true',
                choose-file-button-text='',
                upload-url='/api/gardens/{{sharedDataService.gardenModel._id}}/photos',
                max-files='5',
                max-file-size-mb='5',
                get-additional-data='getData(files)',
                on-done='done(files, data)',
                on-progress='progress(percentDone)',
                on-error='error(files, type, msg)')

          div
            div(modal="sharedDataService.activeOverlay==('PhotosOverlay')", close="close()", options="modalOptions")
              div(class="overlay-contain")
                div(class="close btn", ng-click="close()")
                  | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
                div
                  div(data-flex-slider, flex-slider-slides="photo in sharedDataService.photos", startAt="{{startAt}}", touch="true", animation="slide")
                    li
                      h3(class="page-heading page-heading-small") {{photo.date | photoDate }}
                      img(ng-src="{{photo.url}}")
                      div(class="fb-share-button", data-href="{{$window.location.protocol + '//' + $window.location.host + photo.url}}", data-type="button")

                        
    
      div.content-module.side
          div.manual-entry-container(ng-controller="bpn.controllers.dashboard.ManualLog")

            div(ng-show="sharedDataService.userCanModify")
              button(class="btn centered full-width", ng-click="sharedDataService.activeOverlay='ManualLogOverlay'") Log
                | <i class="icon-glyph-new icon-__64_plus_00e36c" aria-hidden="true"></i>
              p(ng-hide="(sharedDataService.recentTextLogs.length) > 0")
                | Journal your progress and enter any sensor data you want to record manually.
            
            h2(class="page-heading-small", ng-show="(sharedDataService.recentTextLogs.length) > 0") Recent Logs
            ul
              li(ng-repeat="log in sharedDataService.recentTextLogs")
                p.text {{log.logs[0].val}}
                div.tags(ng-repeat="tag in log.logs[0].tags")) {{tag}}}

          div(ng-controller="bpn.controllers.dashboard.ManualLogOverlay", modal="sharedDataService.activeOverlay=='ManualLogOverlay'", close="close()", options="sharedDataService.modalOptions")
            div(class="overlay-contain")
              div(class="close btn", ng-click="close()")
                | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
              
              div(data-bpn-directives-manual-entry-form, 
                  class="manual-entry-form")

                h3(class="page-heading page-heading-small") Log Entry
                h4(class="sensor-reading-date page-heading-small") {{sharedDataService.activeDate.date | date:'shortDate'}}

                div
                  form(name="form", action="", ng-submit="submit()")
                    textarea(ng-model="manualTextEntry", id="manual_input_text", cols="5", rows="5", class="full-width", placeholder="How are your plants doing today?")
                    div(ng-repeat="sensor in sharedDataService.sensors", class="sensor-reading-group")
                      input(ng-model="manualSensorEntry[sensor.code]", id="manual_input_{{sensor.code}}", size="5", class="sensor-reading-value display-ib half-width", type="number", step="any", placeholder="{{sensor.name}}")
                      //- div(ng-hide="hasMultipleUnits(sensor.code)", class="sensor-reading-unit")
                      span.sensor-unit {{sensor.unit}}
                      //- div(ng-show="hasMultipleUnits(sensor.code)", class="sensor-reading-unit custom-dropdown-wrap")
                        select(class="custom-dropdown no-margin", 
                          ng-model="sharedDataService.gardenModel.settings.units[sensor.code.toUpperCase()]", 
                          ng-options="obj.id as obj.abbrev for obj in sensorUnits[sensor.code.toUpperCase()].units")
                        .dblarrow
                          i
                    input(type="submit", value="Record")
              
            
            

          div#controls.controls(ng-controller="bpn.controllers.dashboard.Controls", ng-hide="!sharedDataService.gardenModel.device") 
            h2.page-heading-small Accessories
            div(ng-repeat="controlAction in sharedDataService.gardenModel.device.status.activeActions", class="control {{controlAction.control.className} icon-glyph icon-{{controlAction.control.className}", data-control-key="{{controlAction.control.name}}") 
              h3 {{controlAction.control.name}}
              div(data-bpn-directives-control-action-graph, data-control-action="controlAction", custom-click="sharedDataService.activeOverlay = 'ControlOverlay'+controlAction.control.name")
              div
                div(ng-controller="bpn.controllers.dashboard.ControlOverlay", modal="sharedDataService.activeOverlay=='ControlOverlay'+controlAction.control.name", close="close()", options="sharedDataService.modalOptions")
                  div(ng-controller="bpn.controllers.SelectionOverlay", class="overlay-contain")
                    div(class="close btn", ng-click="close()")
                      | <i class="icon-glyph-new icon-__72_x_999999" aria-hidden="true"></i>
                    h3(class="page-heading page-heading-small") {{controlAction.control.name}}
                    div(class="overlay-data", ng-show="controlAction.baseCycle.states.length > 1")
                      div(ng-show="controlAction.isDailyControlCycle")

                        div.left
                          h4 Turns on at
                          div.separator-top {{controlAction.dailyOnTime | timeOfDayFromMilliseconds}}
                        div.right
                          h4 Turns off at
                          div.separator-top {{controlAction.dailyOffTime | timeOfDayFromMilliseconds}}
                      
                      div(ng-hide="controlAction.isDailyControlCycle")
                        div.left
                          h4 {{controlAction.baseCycle.states[0].controlValue | controlValueToWord}} cycle ({{controlAction.baseCycle.states[0].durationType}})
                          div.separator-top {{controlAction.baseCycle.states[0].duration}}
                        div.right
                          h4 {{controlAction.baseCycle.states[1].controlValue | controlValueToWord}} cycle ({{controlAction.baseCycle.states[1].durationType}})
                          div.separator-top {{controlAction.baseCycle.states[1].duration}}
                    div(class="overlay-data", ng-show="controlAction.cycle.states.length <= 1 && controlAction.baseCycle.states.length <= 1")
                      h4 This control does not cycle.
                    div(class="overlay-data", ng-show="controlAction.cycle.states.length <= 1 && controlAction.baseCycle.states.length > 1")
                      h4 This cycle has been overridden.
                    p.clear-b
                      {{controlAction.control.name}} is currently {{sharedDataService.gardenModel.device.outputMapByControlId[controlAction.control._id].currentState | controlValueToWord:true }}.
                    div.separator-top(ng-show="sharedDataService.userCanModify")
                      a.btn.turn-on.flush-left(ng-show="controlAction.control.onAction", ng-click="triggerImmediateAction(controlAction, controlAction.control.onAction._id)") Turn on
                      a.btn.turn-off.flush-left(ng-show="controlAction.control.offAction", ng-click="triggerImmediateAction(controlAction, controlAction.control.offAction._id)") Turn off
                      a.btn.resume-cycle.flush-left(ng-show="controlAction.cycle.states.length <= 1 && controlAction.baseCycle.states.length > 1", ng-click="clearImmediateAction(controlAction, controlAction.control)") Resume cycle
                      img.spinner(src="/assets/img/spinner.svg", ng-show="controlAction.updateInProgress")

          div#notifications.notifications.separator-top(ng-controller="bpn.controllers.dashboard.Notifications", ng-hide="!sharedDataService.gardenModel.device")
            h2.page-heading-small Notifications
            div(ng-repeat="notification in pastNotifications", class="past")
              //- input(type="checkbox", model="notification._id", id="notification._id")
              label(for="notification._id")
                div.date {{notification.timeToSend | friendlyDate }}
                div.title {{notification.displays.summary}}
          

  svg(height='0')
    mask#svg-active-mask(maskunits='objectBoundingBox', maskcontentunits='objectBoundingBox')
      lineargradient#svg-active-gradient(gradientunits='objectBoundingBox', x2='0', y2='1')
        stop(stop-color='white', offset='0%')
        stop(stop-color='white', offset='10%')
        stop(stop-color='white', stop-opacity='0', offset='11%')
        stop(stop-color='white', stop-opacity='0', offset='20%')
        stop(stop-color='white', offset='21%')
        stop(stop-color='white', offset='30%')
        stop(stop-color='white', stop-opacity='0', offset='31%')
        stop(stop-color='white', stop-opacity='0', offset='40%')
        stop(stop-color='white', offset='41%')
        stop(stop-color='white', offset='50%')
        stop(stop-color='white', stop-opacity='0', offset='51%')
        stop(stop-color='white', stop-opacity='0', offset='60%')
        stop(stop-color='white', offset='61%')
        stop(stop-color='white', offset='70%')
        stop(stop-color='white', stop-opacity='0', offset='71%')
        stop(stop-color='white', stop-opacity='0', offset='80%')
        stop(stop-color='white', offset='81%')
        stop(stop-color='white', offset='90%')
        stop(stop-color='white', stop-opacity='0', offset='91%')
        stop(stop-color='white', stop-opacity='0', offset='100%')
      rect(width='1', height='1', fill='url(#svg-active-gradient)')

  

block footer-scripts
  script
    // GPI is a GPI with a fully-populated GP for "growPlan" property
    bpn.pageData.growPlanInstance = !{JSON.stringify(growPlanInstance)};
    bpn.pageData.sensors = !{JSON.stringify(sensors)};
    bpn.pageData.controls = !{JSON.stringify(controls)};
    bpn.pageData.notifications = !{JSON.stringify(notifications)};
    bpn.pageData.photos = !{JSON.stringify(photos)};
    bpn.pageData.userCanModify = !{JSON.stringify(userCanModify)};
    bpn.pageData.controlsById = !{JSON.stringify(controlsById)};
    //bpn.pageData.photos = [{"createdAt":"2013-08-12T16:10:03.205Z","updatedAt":"2013-08-12T16:10:03.205Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0389.JPG","name":"IMG_0389.JPG","type":"image/jpg","size":177324,"gpi":"51b4e59dcda057020000000c","_id":"520908da78ec8704000000bd","__v":0,"visibility":"public","date":"2013-08-12T16:04:00.000Z","tags":[]},{"createdAt":"2013-08-12T15:50:03.295Z","updatedAt":"2013-08-12T15:50:03.295Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0388.JPG","name":"IMG_0388.JPG","type":"image/jpg","size":179780,"gpi":"51b4e59dcda057020000000c","_id":"5209042a78ec8704000000b8","__v":0,"visibility":"public","date":"2013-08-12T15:49:00.000Z","tags":[]},{"createdAt":"2013-08-12T15:40:02.609Z","updatedAt":"2013-08-12T15:40:02.609Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0386.JPG","name":"IMG_0386.JPG","type":"image/jpg","size":177881,"gpi":"51b4e59dcda057020000000c","_id":"520901d278ec8704000000b6","__v":0,"visibility":"public","date":"2013-08-12T15:34:00.000Z","tags":[]},{"createdAt":"2013-08-12T15:40:04.346Z","updatedAt":"2013-08-12T15:40:04.346Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0387.JPG","name":"IMG_0387.JPG","type":"image/jpg","size":179779,"gpi":"51b4e59dcda057020000000c","_id":"520901d478ec8704000000b7","__v":0,"visibility":"public","date":"2013-08-12T15:34:00.000Z","tags":[]},{"createdAt":"2013-08-12T15:10:04.826Z","updatedAt":"2013-08-12T15:10:04.826Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0383.JPG","name":"IMG_0383.JPG","type":"image/jpg","size":176677,"gpi":"51b4e59dcda057020000000c","_id":"5208facc78ec8704000000ab","__v":0,"visibility":"public","date":"2013-08-12T15:05:00.000Z","tags":[]},{"createdAt":"2013-08-12T15:10:06.408Z","updatedAt":"2013-08-12T15:10:06.408Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0385.JPG","name":"IMG_0385.JPG","type":"image/jpg","size":180308,"gpi":"51b4e59dcda057020000000c","_id":"5208face78ec8704000000ac","__v":0,"visibility":"public","date":"2013-08-12T15:05:00.000Z","tags":[]},{"createdAt":"2013-08-12T14:50:15.021Z","updatedAt":"2013-08-12T14:50:15.021Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0383.JPG","name":"IMG_0383.JPG","type":"image/jpg","size":176677,"gpi":"51b4e59dcda057020000000c","_id":"5208f62678ec8704000000a4","__v":0,"visibility":"public","date":"2013-08-12T14:49:00.000Z","tags":[]},{"createdAt":"2013-08-12T14:50:28.099Z","updatedAt":"2013-08-12T14:50:28.099Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0384.JPG","name":"IMG_0384.JPG","type":"image/jpg","size":178808,"gpi":"51b4e59dcda057020000000c","_id":"5208f63378ec8704000000a5","__v":0,"visibility":"public","date":"2013-08-12T14:49:00.000Z","tags":[]},{"createdAt":"2013-08-12T14:30:02.539Z","updatedAt":"2013-08-12T14:30:02.539Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0382.JPG","name":"IMG_0382.JPG","type":"image/jpg","size":173613,"gpi":"51b4e59dcda057020000000c","_id":"5208f16a78ec87040000009e","__v":0,"visibility":"public","date":"2013-08-12T14:25:00.000Z","tags":[]},{"createdAt":"2013-08-12T14:20:07.386Z","updatedAt":"2013-08-12T14:20:07.386Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0380.JPG","name":"IMG_0380.JPG","type":"image/jpg","size":175686,"gpi":"51b4e59dcda057020000000c","_id":"5208ef1778ec87040000009c","__v":0,"visibility":"public","date":"2013-08-12T14:10:00.000Z","tags":[]},{"createdAt":"2013-08-12T14:20:08.947Z","updatedAt":"2013-08-12T14:20:08.947Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0381.JPG","name":"IMG_0381.JPG","type":"image/jpg","size":173690,"gpi":"51b4e59dcda057020000000c","_id":"5208ef1878ec87040000009d","__v":0,"visibility":"public","date":"2013-08-12T14:10:00.000Z","tags":[]},{"createdAt":"2013-08-12T13:40:04.405Z","updatedAt":"2013-08-12T13:40:04.405Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0379.JPG","name":"IMG_0379.JPG","type":"image/jpg","size":179760,"gpi":"51b4e59dcda057020000000c","_id":"5208e5b478ec870400000091","__v":0,"visibility":"public","date":"2013-08-12T13:34:00.000Z","tags":[]},{"createdAt":"2013-08-12T13:20:02.441Z","updatedAt":"2013-08-12T13:20:02.441Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0378.JPG","name":"IMG_0378.JPG","type":"image/jpg","size":179018,"gpi":"51b4e59dcda057020000000c","_id":"5208e10278ec87040000008b","__v":0,"visibility":"public","date":"2013-08-12T13:19:00.000Z","tags":[]},{"createdAt":"2013-08-12T13:10:02.972Z","updatedAt":"2013-08-12T13:10:02.972Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0377.JPG","name":"IMG_0377.JPG","type":"image/jpg","size":178607,"gpi":"51b4e59dcda057020000000c","_id":"5208deaa78ec870400000085","__v":0,"visibility":"public","date":"2013-08-12T13:04:00.000Z","tags":[]},{"createdAt":"2013-08-12T12:50:03.911Z","updatedAt":"2013-08-12T12:50:03.911Z","owner":"506de30a8eebf7524342cb6c","originalFileName":"IMG_0376.JPG","name":"IMG_0376.JPG","type":"image/jpg","size":174517,"gpi":"51b4e59dcda057020000000c","_id":"5208d9fb78ec87040000007f","__v":0,"visibility":"public","date":"2013-08-12T12:49:00.000Z","tags":[]}];
