extends ../layout

block head
  mixin requirejs("/assets/js/pages/dashboard")

block css

block content
  section.header
      header
        include ../includes/nav/main
  
  section#main(role="main", class="main", ng-cloak)
    div(ng-controller="bpn.controllers.dashboard.Main")
      h2.page-heading(ng-cloak)
        | {{growPlanInstance.name}}

      div#sensors.content-module.side(ng-controller="bpn.controllers.dashboard.DayOverview")
        div.date.main-heading {{activeDate.date | date:'longDate'}}
        div.time.sub-heading {{activeDate.date | date:'shortTime'}}


        div(ng-repeat="sensor in sensors", ng-class="getSensorBlockClassNames(this)")
          h3.main-heading
            | {{sensor.abbrev}}
          div.sensor-data
            div.sensor-value(ng-show="activeDate.latestSensorLogs[sensor.code]") {{activeDate.latestSensorLogs[sensor.code]}}
            div.sensor-value(ng-hide="activeDate.latestSensorLogs[sensor.code]") ----
          div(class="sensor-type icon {{sensor.code}}")
            | <i class="icon-glyph icon-{{sensor.code}}" aria-hidden="true"></i>
            div.sensorcreen-reader-text {{sensor.code}}
          //div.message #{warning ? 'Check' : 'OK'}
          div(class="settings icon")
            | <i class="icon-glyph icon-glyphbitponics_settings_icon" aria-hidden="true"></i>
            div.screen-reader-text Settings

      div#visualizer.content-module.middle(ng-controller="bpn.controllers.dashboard.PhasesGraph")
        div#phases-graph.circle.centered
    
      div#controls.controls.content-module.side(ng-controller="bpn.controllers.dashboard.Controls")
        h2.main-heading Accessories
          div(ng-repeat="controlAction in growPlanInstance.device.status.activeActions", class="control {{controlAction.control.className} icon-glyph icon-{{controlAction.control.className}", data-control-key="{{controlAction.control.name}}") 
            h3 {{controlAction.control.name}}
            
            a.btn(ng-show="controlAction.control.onAction", ng-click="triggerImmediateAction(controlAction.control.onAction._id)") Turn on
            a.btn(ng-show="controlAction.control.offAction", ng-click="triggerImmediateAction(controlAction.control.offAction._id)") Turn off

      div#reminders.content-module.side(ng-controller="bpn.controllers.dashboard.Notifications")
        h2.main-heading Reminders
    
    section#templates(style="display:none")
      //-textarea#control-tooltip-template
        |  <div class="control-tooltip">
        |    <h3>Available actions to trigger on your {{name}}:</h3>
        |    {{#actions}}
        |      <div>
        |        <a class="action-trigger-link" data-action-id="{{_id}}">{{description}}</a>
        |      </div>
        |    {{/actions}}
        |  </div>

block footer-scripts

  script
    // GPI is a GPI with a fully-populated GP for "growPlan" property
    bpn.pageData.growPlanInstance = !{JSON.stringify(growPlanInstance)};
    bpn.pageData.sensors = !{JSON.stringify(sensors)};
    bpn.pageData.controls = !{JSON.stringify(controls)};
    bpn.pageData.latestSensorLogs = !{JSON.stringify(latestSensorLogs)};
    