nav(role="nav", ng-controller="bpn.controllers.nav.Main", class="main-nav")
  script(type="text/ng-template", id="nav-notifications.html")

    div(class="notifications") 
      h2 Notifications
      
      ul.notifications-list
        li(ng-repeat="notification in recentNotifications.data", ng-class="getNotificationClass(notification)")
          button.notification-button(ng-click="markAsChecked(notification)")
            p.date {{notification | notificationDate}}
            p.garden(ng-show="notification.displays.json.garden.name") {{notification.displays.json.garden.name}} 
            p.summary {{notification.displays.summary}} 


  script(type="text/ng-template", id="nav-menu-template")

    div(class="menu") 
      h2 Menu
      ul.link-list
        if typeof growPlanInstance !== 'undefined'
          li
            a(href, ng-click="openGardenSettingsOverlay()") Garden Settings
          li
            a(href="/grow-plans/#{growPlanInstance.growPlan._id}") Grow Plan Details
        li
          a(href="/account/profile") My Profile
        li
          a(href="/gardens") My Gardens
        li
          a(href="/grow-plans") My Grow Plans
        li
          a(href="/account/devices") My Devices
        li
          a(class="intercom-trigger", href="mailto:0c40a940658cd131a6d92882bf8fcc7230d93338@incoming.intercom.io") Help
        li
          a(href="/logout") Log out
  
  ul  
    li(class="nav-section first ")
      h1(class="logo icon", role="banner")
        a(href="/", data-page-include="false") 
          | bitponics
          span &trade;
        //-| <i class="icon-glyph icon-glyphlogo-new icon-__63_logo_white" aria-hidden="true"></i>
      - var pageType = pageType || null;
      if !!pageType && pageType == 'landing-page'  

          li.nav-section(ng-click="toggleNavMenu()", ng-hide="!navMenuDisplayVisible")
            ul
              li(class="howitworks", data-name="how-it-works")
                a(href="/how-it-works") How It Works

          li.nav-section(ng-click="toggleNavMenu()", ng-hide="!navMenuDisplayVisible")
            ul
              li(class="pricing", data-name="pricing") 
                a(href="/pricing") Pricing

          //- li.nav-section(ng-click="toggleNavMenu()")
          //-   ul
          //-     li(class="buy", data-name="buy") 
          //-       a(href="/buy", data-page-include="false") Buy

          li.nav-section(ng-click="toggleNavMenu()", ng-hide="!navMenuDisplayVisible")
            ul
              li(class="press", data-name="press")
                a(href="/press") Press
          
          //- li.nav-section(ng-click="toggleNavMenu()")
          //-   ul
          //-     li(class="installs", data-name="installs")
          //-       a(href="/installs") Installs

          li.nav-section(ng-click="toggleNavMenu()", ng-hide="!navMenuDisplayVisible")
            ul
              li(class="contact", data-name="contact", ng-hide="!navMenuDisplayVisible")
                a(href="/contact") Contact

          li.nav-section(ng-click="toggleNavMenu()", ng-hide="!navMenuDisplayVisible")
            ul
              li(class="team", data-name="team") 
                a(href="/team") Our Team
          
          //- li.nav-section.elevated-item
          //-   ul
          //-     li(class="login", data-name="login") 
          //-       a.btn(href="/login", data-page-include="false") Log In


          //-li(class="nav-section elevated-item")
            //- ul
            //-   li(class="getstarted", data-name="get-started")
            //-     a(href="/get-started", class="btn", data-page-include="false") Get Started

          li(class="nav-section social-icons", ng-hide="!navMenuDisplayVisible")
            ul
              li 
                div
                  | Facebook
                a(href="https://www.facebook.com/Bitponics", data-page-include="false", target="_blank")
                  | <i class="icon-glyph icon-__51_facebook_white" aria-hidden="true"></i>
              li
                div 
                  | Twitter
                a(href="https://www.twitter.com/bitponics", data-page-include="false", target="_blank")
                  | <i class="icon-glyph icon-__52_twitter_white" aria-hidden="true"></i>
              li 
                div 
                  | Email
                a(href="contact", data-page-include="false")
                  | <i class="icon-glyph icon-__53_email_white" aria-hidden="true"></i>

      if !pageType || pageType == 'app-page'
        if typeof user !== 'undefined' && user.name
          li(class="nav-section app-user")
            div
              a(href="/account/profile", class="user-name")
                if user.name.full != ''
                 | #{user.name.full}
                else
                 | #{user.email}
              
              div(
                class="notifications-icon",
                ng-dialog="nav-notifications.html",
                ng-dialog-controller="bpn.controllers.nav.Notifications",
                ng-dialog-append-to-element="true",
                ng-dialog-class="ngdialog-theme-menu")
                | <i class="icon-glyph icon-glyph-new icon_notification_info_textGray" aria-hidden="true" ng-class="getNotificationsIconClass()"></i>
              
              div(
                class="help-icon intercom-trigger",
                href="mailto:0c40a940658cd131a6d92882bf8fcc7230d93338@incoming.intercom.io"
                )
                | <i class="icon-glyph icon-glyph-new icon_help" aria-hidden="true" ng-class="getNotificationsIconClass()"></i>
              
              div(
                class="menu-icon",
                ng-dialog="nav-menu-template",
                ng-dialog-controller="bpn.controllers.nav.Menu",
                ng-dialog-append-to-element="true",
                ng-dialog-class="ngdialog-theme-menu")
                | <i class="icon-glyph icon-glyph-new icon_menu" aria-hidden="true"></i>
  
  
  if !!pageType && pageType == 'landing-page'  
    button.toggle-menu(ng-cloak, ng-click="toggleNavMenu()")
      span Menu
      //- i(class="icon-glyph-new icon-__60_plus_white", aria-hidden="true", ng-hide="navMenuDisplayVisible")
      //- i(class="font-style-normal", aria-hidden="true", ng-hide="navMenuDisplayVisible") &#9776;
      i(class="icon-glyph-new icon_menu", aria-hidden="true", ng-hide="navMenuDisplayVisible")
      i(class="icon-glyph-new icon-__72_x_999999", aria-hidden="true", ng-show="navMenuDisplayVisible")
  
block footer-scripts
  mixin requirejs("/assets/js/controllers/nav")
